body{
  background-color:  #09010f;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#div1 {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  background-color: rgb(46, 16, 104);
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}