body{
  background-color:  #09010f;
}

h1 {
  color: white;
  text-align: center;
}

p {
  color: rgb(252, 252, 252);
  font-family: verdana;
  font-size: 20px;
}

.div1 {
  background-color: #531086;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
  text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}